@use '../../../../styles/00-settings/variables' as *
@use '../../../../styles/01-tools/mixins' as *

.main-content
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  padding: var(--spacing-4)
  width: 100%
