// 04-layout/_layout.sass

// ===============================================
// Sistema de Layout
// ===============================================

// -----------------------------------------------
// .container: Envuelve el contenido para proporcionar un ancho máximo y alineación central.
// -----------------------------------------------
.container
  width: 100%
  max-width: var(--breakpoint-lg)
  margin-left: auto
  margin-right: auto
  padding-left: var(--spacing-4)
  padding-right: var(--spacing-4)

// -----------------------------------------------
// .grid: Un sistema de rejilla (grid) básico de 12 columnas usando CSS Grid.
// Ejemplo:
// .grid
//   .grid-col-4
//   .grid-col-8
// -----------------------------------------------
.grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: var(--spacing-6)

// -----------------------------------------------
// Clases de Ayuda para la Expansión de Columnas en la Rejilla
// Usa estas clases para definir cuántas columnas debe ocupar un elemento.
// -----------------------------------------------
@for $i from 1 through 12
  .grid-col-#{$i}
    grid-column: span $i

// -----------------------------------------------
// Clases de Ayuda Responsivas para la Expansión de Columnas en la Rejilla
// Ejemplo: <div class="grid-col-12 grid-col-md-6">
// -----------------------------------------------

// Pantallas medianas (md) y superiores
@media (min-width: var(--breakpoint-md))
  @for $i from 1 through 12
    .grid-col-md-#{$i}
      grid-column: span $i

// Pantallas grandes (lg) y superiores
@media (min-width: var(--breakpoint-lg))
  @for $i from 1 through 12
    .grid-col-lg-#{$i}
      grid-column: span $i
