<article class="stats-card">
    <header class="stats-card-header">
        <span class="stats-card_icon" aria-hidden="true">{{stat.categoryIcon}}</span>
        <h2 class="stats-card_title">{{ stat.categoryName }}</h2>
    </header>
    <dl class="stats-card__body">
        <div class="stats-card-content">
            <dt class="stats-card__label">Número de productos:</dt>
            <dd class="stats-card__value">{{ stat.productCount }}</dd>
        </div>
        <div class="stats-card-content">
            <dt class="stats-card__label">Precio medio:</dt>
            <dd class="stats-card__value">{{ formattedAvgPrice }}€</dd>
        </div>
        <div class="stats-card-content">
            <dt class="stats-card__label">Rango:</dt>
            <dd class="stats-card__value">{{ formattedMinPrice }}€ - {{formattedMaxPrice}}€</dd>
        </div>
        <div class="stats-card-content">
            <dt class="stats-card__label">En oferta</dt>
            <dd class="stats-card__value">{{ stat.onSaleCount }}</dd>
        </div>
    </dl>
    <footer class="stats-card-footer">
        @if (offeredPercentage > 30) {
            <span class="stats-card__offer-percentage">Hay muchas ofertas</span>
        } @else if (offeredPercentage > 0) {
            <span class="stats-card__offer-percentage">Hay ofertas</span>
        } @else {
            <span class="stats-card __offer-percentage">No hay ofertas</span>
        }
</article>

